*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body1{
  background-color: black;
}
/*index.html*/
.container-1{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: 
    "navbar navbar navbar"
    "menu-box text-box-1 text-box-1"
    "map-1 text-box-1 text-box-1";
  grid-template-columns: 330px 76% 0px;
  grid-template-rows: 100px 500px 200px;
}      
.navbar{
  grid-area: navbar;
}
.nav-itens{
  display: flex;
  width: 100%;
}  
.nav-item{
  display: flex;
  margin: 10px;
  width: 100%;
  padding-left: 6px;
  padding-right: 6px;
  border: 5px solid #d55d1e;
  font-family: 'Koulen', cursive;
  font-size: 35px;
  color: #d55d1e; 
}  
.menu-box{
  grid-area: menu-box;
  width: 98.5%;
  height: 100%;
  margin-top: 5px;
  margin-left: 10px;
  background-color: rgb(0, 0, 0);
  border: 5px solid #d55d1e;
}
.menu-box-topic{
  display: flex;
  margin: 10px;
  padding-left: 10px;
  font-size: 30px;
  font-family: 'Koulen', cursive;
  color: #d55d1e;
}  
.map-1{
  grid-area: map-1;
  width: 98.5%;
  height: 200px;
  margin-left: 10px;
  margin-top: 15px;
  border: 5px solid #d55d1e;
} 
.wireframe{
  width: 98.5%;
  height: 190px;
}
.text-box-1 {
  grid-area: text-box-1;
  width: 96.7%;
  height: 710px;
  margin-left: 25px;
  margin-top: 5px;
  border: 5px solid #53b150;
}
.text-1{
  display: block;
  font-family: 'Koulen', cursive;
  font-size: 20px;
  color: #d55d1e;
}
a:link, a:visited, a:hover, a:active {
	text-decoration: none
}
.span-1{
  font-family: 'Koulen', cursive;
  font-size: 20px;
  color: #d55d1e;
}
a:link {
  color:#d55d1e;
  text-decoration:none;
}
a:visited {
  color:#d55d1e;
  text-decoration:none;
}
a:hover {
  color:#d55d1e;
  text-decoration:none;
}
a:active {
  color:#d55d1e;
  text-decoration:none;
}
/*hedgehog*/
.body2{
  background-image: url(img/template-2.png);
}
.container-2{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: 
    "header-2 header-2 header-2"
    "ruler-1 navbar-2 navbar-2"
    "ruler-1 texto-box-2 texto-box-2"
    "footer footer footer";
  grid-template-columns: 110px 92% 10px;
  grid-template-rows: 40px 100px 500px 100px;
}

.header-2{
  grid-area: header-2;
  border: 1px solid white;
}
.ruler-1{
  grid-area: ruler-1;
  border: 1px solid white;
}
.navbar-2{
  grid-area: navbar-2;
  border: 1px solid white;
}
.nav-itens-2{
  border: 1px solid white;
}
.nav-item-2{
  display: flex;
  margin-top: 10px;
  width: 660px;
  height: 50px;
  position: relative;
  left: 540px;
  padding-left: 20px;
  padding-right: 20px;
  border: 5px solid #d55d1e;
  font-family: 'Koulen', cursive;
  font-size: 45px;
  color: #d55d1e; 
}

.text-box-2{
  grid-area: texto-box-2;
  border: 1px solid white;
}
.footer{
  grid-area: footer;
  border: 1px solid white;
}



